@charset "utf-8";

@import url("default.css");

/* common */

#wrap {width:100%; overflow:hidden;  background:#fff}

.header { height: 67px;display: flex; align-items: center;align-content: center;z-index: 100;position: fixed;width: 100%; background: #fff; border-bottom:1px solid rgba(0, 0, 0, 0.05); min-width:1445px;}
.header .logo{ display:block; width:258px; height:53px;  margin:7px 0 0 30px;}
.header .nav{ display: inline-block; width:310px; height:67px;}
.header .nav li{ display:inline-block; font-size:16px; font-weight:500;line-height:67px; padding: 0 20px;}
.header .nav li a{ text-decoration:none; color:#787d80;}
.header .nav li a:hover{ color:#5b38ba;}
.header .group_srch{position: relative; display:block; width:380px; font-size:14px;}
.header .group_srch .btn_srch{position:absolute;top:50%;right:20px;margin-top:-13px; border:0;background-color: transparent;}
.header .group_srch .btn_srch .ico_srch{ display:block; width:20px; height:20px;background:url('../img/btn_sch.jpg') no-repeat; font-size:0;}
.header .group_srch input{display:block;width:380px;height:40px;padding:8px 12px 8px 25px;background:#ebeff0;z-index:20; border:1px solid #e1e1e1; color:#333; border-radius:50px;}
.header .before_login{position: absolute;  top:0; right:0; display:block;  width:400px; height:69px; font-size:14px; color:#fff; line-height:69px; background-color:rgba(217, 196, 252, 0.8); padding:0 10px; visibility:hidden;}
.header .group_srch input:focus {outline: none;}
.header .before_login .ic_user{display: inline-block; width:24px; height:24px;background:url(../img/icon_user.png) 0 0 no-repeat; vertical-align: middle; padding-top:-3px; margin-right:10px;}
.header .Myaccout{ position: absolute;  top:0; right:40px; display:block;  min-width:350px; height:69px; background-color: transparent; padding:0; margin:0; z-index:20;color:#555;}
.header .Myaccout li{display:inline-block; line-height:65px; margin-left:5px; font-size:14px;}
.header .Myaccout li .ic_eth{ display: inherit; width:28px; height:29px;background:url(../img/icon_coin.png) 0 0 no-repeat; vertical-align: middle; padding-top:5px;}
.header .Myaccout li .ic_way{ display:inherit; width:32px; height:29px;background:url(../img/icon_coin.png) -29px 0 no-repeat; vertical-align: middle; padding-top:-3px;}


#snb  {width:260px; height:100%; position:fixed; top:67px; left:0; padding:35px 0 0 0; overflow:hidden; background:#fff;  border-right:1px solid #dcdcdc; box-shadow: 10px -3px 60px rgba(0, 0, 0, .1);}
#snb .snb_nav {width:195px; float:right; margin-right:20px;}
#snb .snb_nav li {width:100%; height:45px; margin-bottom:15px;line-height:46px; }
#snb .snb_nav li a {display:block; width:100%; height:45px; font-size:16px; color:#555;}
#snb .snb_nav li a:hover {background:#2988b6; color:#fff; border-radius:5px}
#snb .snb_nav li a .nIcon { display:inline-block; width:25px; height:30px; background:url(../img/icon_menu.png) no-repeat;}
#snb .snb_nav li a .nIcon.ic_m1{background-position:-3px -5px; vertical-align:middle; margin:0px 10px 0 10px;}
#snb .snb_nav li a:hover .nIcon.ic_m1{background-position:-33px -5px; vertical-align:middle; margin:0px 10px 0 10px;}
#snb .snb_nav li a .nIcon.ic_m2{background-position:-3px -110px; vertical-align:middle; margin:0px 10px 0 10px;}
#snb .snb_nav li a:hover .nIcon.ic_m2{background-position:-33px -110px; vertical-align:middle; margin:0px 10px 0 10px;}
#snb .snb_nav li a .nIcon.ic_m3{background-position:-3px -110px; vertical-align:middle; margin:0px 10px 0 10px;}
#snb .snb_nav li a:hover .nIcon.ic_m3{background-position:-33px -110px; vertical-align:middle; margin:0px 10px 0 10px;}
#snb .snb_nav li a .nIcon.ic_m3{background-position:-3px -145px; vertical-align:middle; margin:0px 10px 0 10px;}
#snb .snb_nav li a:hover .nIcon.ic_m3{background-position:-33px -145px; vertical-align:middle; margin:0px 10px 0 10px;}
#snb .snb_nav li a .nIcon.ic_m4{background-position:-3px -172px; vertical-align:middle; margin:0px 10px 0 10px;}
#snb .snb_nav li a:hover .nIcon.ic_m4{background-position:-33px -172px; vertical-align:middle; margin:0px 10px 0 10px;}
#snb .snb_nav li a .nIcon.ic_m5{background-position:-3px -204px; vertical-align:middle; margin:0px 10px 0 10px;}
#snb .snb_nav li a:hover .nIcon.ic_m5{background-position:-33px -204px; vertical-align:middle; margin:0px 10px 0 10px;}

.leftban {width:200px; margin:0 auto; padding-top:160px; overflow:hidden;}



.contents {width:100%;  background-color: #fff; padding:100px 50px 0 310px;}


.footer{display:inline-block; background-color:#5a5a5a; width:100%; height:120px; padding:20px 0 0 310px; margin-top:50px; font-size:12px; color:#fff; font-weight:300}
.footer .foot_btnArea { height:40px; line-height:40px;}
.footer .foot_btnArea a{color:#fff; text-decoration:none; border:1px solid #878787; padding:5px 15px;}


/* main */
.main_inner h4{ color:#2988b6; margin-bottom:20px;}
.tb_best{display: table; width:100%; min-width:1230px; box-sizing: border-box;-webkit-box-sizing: border-box; }
.tb_best li{width: 20%; height:248px;float: left;display: table-cell;}
.tb_best .item {position:relative;}
.tb_best .item .play{ position:absolute; top: 118px; left:160px; color:#fff; z-index:30; font-size:11px; line-height:15px; padding:3px 10px 3px 22px; border-radius:15px;  background:url(../img/ic_play.png) 10px 5px no-repeat; background-color:rgba(87,87,87,0.7);} 
.tb_best .item .icon{ position:absolute; top: 3px; left:200px; display:block; width:31px; height:11px; background:url(../img/ic_drm.png) no-repeat;z-index:30; font-size:0;}
.tb_best .item .thum{position: relative; width:230px; height:142px; cursor:pointer}
.tb_best .item .thum img{vertical-align: top;  width:100%; height: auto; float:left;  display:block; border-radius:5px;} 
.tb_best .item .thum:hover .image {  opacity: 0.3;}
.tb_best .item .thum:hover .middle {  opacity: 1;}
.tb_best .item .thum .image {  opacity: 1;  display: block;  width: 100%;  height: auto;  transition: .5s ease;  backface-visibility: hidden; }
.tb_best .item .thum .middle {  transition: .5s ease;  opacity: 0;  position: absolute;  top: 50%;  left: 50%;  transform: translate(-50%, -50%);  -ms-transform: translate(-50%, -50%);  text-align: center;}
.tb_best .item .thum .icon_plus {width:40px; height:40px; line-height:40px;border-radius:20px;  background-color: #7973df;  color: white; font-size:30px; font-weight:600; }
.tb_best .item .info {position: relative; width:230px;overflow: hidden;  font-size:13px;}
.tb_best .item .info .subj {position: relative;margin:17px 5px 0 0 ;display: inline-block;vertical-align: top;font-size:14px;height:35px;font-weight:500;line-height: 18px; overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;word-wrap:break-word; }
.tb_best .item .info .subj a,.tb_best .item .info .subj a:focus,.tb_best .item .info .subj a:active{ text-decoration:none; color:#000;}
.tb_best .item .info .subj a:hover{ text-decoration:underline;}
.tb_best .item .info .line {margin-top:10px; position:relative; }
.tb_best .item .info .line .author{display: inline-block; float:left;color:#7e7e7e;  width:55px; height:16px;  overflow: hidden; text-overflow: ellipsis;white-space: nowrap}
.tb_best .item .info .line .author .bar {display: inline-block; position:absolute; top:2px; left:58px;width: 1px;height: 12px;background: #7e7e7e;font-weight:700;}
.tb_best .item .info .line .price {display: inline-block;  color:#6a60bc; padding-left:16px; line-height:120%;font-weight:700;}
.tb_best .item .info .line .date {display: inline-block; color:#7e7e7e; float:right;}

.LineBanner{ display:block; width:1219px; height:80px; margin-bottom:30px; overflow:hidden;}

/* 모달팝업 */
.modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 100; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }
    
        /* Modal Content/Box */
        .modal-content {
            background-color: #fefefe;
            margin: 15% auto; /* 15% from the top and centered */
            padding: 20px;
            border: 1px solid #888;
            width: 50%; /* Could be more or less, depending on screen size */                          
        }

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top:-15px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


/* 내가 받은 컨텐츠 */
.mytit {height:100px; text-align:center; margin-top:30px; overflow:hidden; font-size:42px; color:#3d3d3d; font-weight:400;vertical-align:middle; }
.mytit img {vertical-align:middle; margin-top:-3px;}

.table_wrap {width:90%; margin:0 auto; overflow:hidden;}
.table_wrap .btnbox {height:45px; text-align:right;}
.table_wrap table.sty01 {width:100%;border-top:1px solid #cfcfcf;}
.table_wrap table.line2 {border-top:2px solid #7d73ee;}
.table_wrap table.sty01 th {height:55px; border-bottom:1px solid #cfcfcf; font-weight:400}
.table_wrap table.sty01 th:first-child {border-left:1px solid #cfcfcf;}
.table_wrap table.sty01 th:last-child {border-right:1px solid #cfcfcf;}
.table_wrap table.sty01 td {padding:15px 0;  border-bottom:1px solid #cfcfcf; color:#444; text-align:center}
.table_wrap table.sty01 td.align_left {text-align:left}
.table_wrap table.sty01 td a {color:#444}
.table_wrap table.sty01 td a:hover {text-decoration:underline;}
.table_wrap table.sty01 tr.noticeline {background:#f8f8f8; color:#000}

.btn_whitebox img , .btn_violetbox img {margin-left:8px;}
.btn_whitebox {height:32px; background:#fff; border:1px solid #cfcfcf; background:#fff; padding:0 15px; border-radius:5px; margin:0 3px; font-size:14px;font-weight:700; color:#595959}
.btn_whitebox:hover {background:#f8f8f8}
.btn_violetbox {height:32px;border:1px solid #7d73ee; background:#7d73ee;  padding:0 15px; border-radius:5px; margin:0 3px; font-size:14px;font-weight:700; color:#fff}
.btn_violetbox:hover {background:#655bce;}
.btn_graybox {height:34px;border:1px solid #727b8f; background:#8991a2;  padding:0 15px; border-radius:5px; margin:0 3px; font-size:14px;font-weight:700; color:#fff; vertical-align:middle}
.btn_graybox:hover {background:#727b8f;}


.pagenum {width:100%; margin:30px 0 ; text-align:center; overflow:hidden; font-size:14px; line-height:200%}
.pagenum li {display:inline-block; width:30px; height:30px; border:1px solid #cfcfcf; color:#666; cursor:pointer ;}
.pagenum li a {color:#444}
.pagenum li:hover {background:#ebeff0}
.pagenum li.arr {padding-top:8px; color:#7a7a7a}
.pagenum li.on {background:#ebeff0; color:#7d73ee; border:1px solid #7d73ee; }
.pagenum li.on a {color:#564ccd; font-weight:bold}

.board_search  {text-align:center; overflow:hidden; border:1px solid #cfcfcf; padding:20px;background:#f8f8f8; border:1px solid #fff; margin-right:30px;}
.board_search  input.textbox {width:300px; height:30px; background:#fff; border:1px solid #cfcfcf; margin:0 5px; padding:0 0 0 10px}
.board_search  button.btn_bseach {width:70px; height:30px; border-radius:5px; background:#fff; border:1px solid #cfcfcf;}

/* 찜한 컨텐츠 */
.wish_btnbox {padding:10px; background:#ebeff0; text-align:right; overflow:hidden; margin-bottom:30px;}
.wish_btnbox .choiceNum {display:inline-block; padding-right:10px; color:#444}
.wish_btnbox .choiceNum span {color:#7d73ee; font-weight:bold}

.tb_wish{display: table; width:100%; min-width:1230px; box-sizing: border-box;-webkit-box-sizing: border-box;}
.tb_wish li{width: 16.6%; height:248px;float: left;display: table-cell;}
.tb_wish .item {position:relative;}
.tb_wish .item .play{ position:absolute; top: 88px; left:111px; color:#fff; z-index:30; font-size:11px; line-height:15px; padding:3px 10px 3px 22px; border-radius:15px;  background:url(../img/ic_play.png) 10px 5px no-repeat; background-color:rgba(87,87,87,0.7);} 
.tb_wish .item .icon{ position:absolute; top: 3px; left:150px; display:block; width:31px; height:11px; background:url(../img/ic_drm.png) no-repeat;z-index:30; font-size:0;}
.tb_wish .item .thum{position: relative; width:180px; height:111px; cursor:pointer;}
.tb_wish .item .thum img{vertical-align: top;  width:100%; height: auto; float:left;  display:block; border-radius:5px;} 
.tb_wish .item .thum:hover .image {  opacity: 0.3;}
.tb_wish .item .thum:hover .middle {  opacity: 1;}
.tb_wish .item .thum .image {  opacity: 1;  display: block;  width: 100%;  height: auto;  transition: .5s ease;  backface-visibility: hidden; }
.tb_wish .item .thum .middle {  transition: .5s ease;  opacity: 0;  position: absolute;  top: 50%;  left: 50%;  transform: translate(-50%, -50%);  -ms-transform: translate(-50%, -50%);  text-align: center;}
.tb_wish .item .thum .icon_plus {width:40px; height:40px; line-height:40px;border-radius:20px;  background-color: #7973df;  color: white; font-size:30px; font-weight:600; }
.tb_wish .item .info {position: relative; width:180px;overflow: hidden;  font-size:13px;}
.tb_wish .item .info .subj {position: relative;margin:10px 5px 0 0 ;display: inline-block;vertical-align: top;font-size:14px;height:35px;font-weight:500;line-height: 18px; overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;word-wrap:break-word; }
.tb_wish .item .info .subj a,.tb_best .item .info .subj a:focus,.tb_best .item .info .subj a:active{ text-decoration:none; color:#000;}
.tb_wish .item .info .subj a:hover{ text-decoration:underline;}
.tb_wish .item .info .line {margin-top:10px; position:relative; }
.tb_wish .item .info .line .author{display: inline-block; float:left;color:#7e7e7e;  width:55px; height:16px;  overflow: hidden; text-overflow: ellipsis;white-space: nowrap}
.tb_wish .item .info .line .author .bar {display: inline-block; position:absolute; top:2px; left:58px;width: 1px;height: 12px;background: #7e7e7e;font-weight:700;}
.tb_wish .item .info .line .price {display: inline-block;  color:#6a60bc; padding-left:12px; line-height:120%;font-weight:700;}
.tb_wish .item .info .line .date {display: inline-block; color:#7e7e7e; float:right; margin-top:-2px;}
.tb_wish .item .selcetLine {position:absolute; left:-5px; top:-5px; z-index:80; width:190px; height:197px; border:3px solid #7973df; border-radius:5px;  background:rgba(256,256,256,0.6)}
.tb_wish .item .selcetLine input.delcheck {width:25px; height:25px; border:1px solid #7973df; margin:5px 0 0 5px; }



/* WAY 전환 */
.wayPop {width:800px; overflow:hidden;background:#fff; }
.wayPop .changeTop {height:300px; padding:30px; background:#7973df; overflow:visible;}
.wayPop .changeTop .tit {font-size:20px; color:#fff; border-bottom:1px solid #fff; padding:0 0 20px 0}
.wayPop .changeTop .acntMe {height:100px; text-align:center; font-size:26px; color:#fff; line-height:380%; vertical-align:middle;}
.wayPop .changeTop .acntMe img {vertical-align:middle; margin-right:10px;}
.wayPop .changeTop .myway {}
.wayPop .changeTop .myway li {width:360px; height:72px; float:left; font-size:20px; color:#333; border:1px solid #dbdbdb;padding:18px 0 0 56px;box-shadow:5px 5px 15px rgba(0,0,0,0.4);}
.wayPop .changeTop .myway li:nth-child(1) {margin-right:20px; background:#fff url(../img/icon_coin_eth.png) no-repeat 23px 17px; background-size:27px;}
.wayPop .changeTop .myway li:nth-child(2) {background:#fff url(../img/icon_coin_way.png) no-repeat 23px 21px; background-size:28px;}
.wayPop .changeTop .myway li span {display:inline-block;float:right; margin-right:28px; font-weight:bold}
.wayPop .changeTop .myway li:nth-child(1) span {color:#0b7eb5}
.wayPop .changeTop .myway li:nth-child(2) span {color:#ef098b}

.wayPop .changeCon { padding:30px; background:#eeedf2; overflow:hidden;}
.changebox {overflow:hidden; margin-bottom:30px}
.changebox .changeTit {height:60px; background:#fff; border:1px solid #c9c9c9; text-align:center; line-height:200%; padding-top:10px; font-size:18px; color:#333; vertical-align:middle; margin-bottom:10px; clear:both} 
.changebox .changeTit img {vertical-align:middle}
.changebox .ct_line01 {border-bottom:1px solid #7973df;}
.changebox .ct_line02 {border-bottom:1px solid #158fdd;}
.changebox .changeTit .ethm {margin-top:-8px;}
.changebox .changeTit .arrm {margin:-3px 15px 0 15px;}
.changebox .changeTit .waym {margin-top:-3px;}
.changebox .chaInpline {width:522px; float:left; margin-right:10px; background:#fff; border-top:1px solid #c9c9c9;border-left:1px solid #c9c9c9;}
.changebox .chaInpline li:nth-child(2n+1) {width:30%; height:54px; float:left; border-right:1px solid #c9c9c9; border-bottom:1px solid #c9c9c9; background:#f8f8f8; font-size:16px; padding:14px 0 0 30px}
.changebox .chaInpline li:nth-child(2n+2) {width:70%; height:54px; float:left; border-bottom:1px solid #c9c9c9;  border-right:1px solid #c9c9c9; font-size:18px; text-align:right; line-height:280%; padding:0 20px 0 0 } 
.changebox .chaInpline li:nth-child(2n+2) input.numinp {width:240px; height:34px; border:1px solid #dbdbdb; background:#f8f8f8; margin-right:10px; line-height:100%; text-align:right}
.changebox .chaInpline li:nth-child(2n+2) span.chanum {display:inline-block; margin-right:10px; font-weight:bold;}
.changebox .btn_waycha {width:208px; height:110px; float:left; background:#7973df; font-size:25px; color:#fff; letter-spacing:-2px; font-weight:500; line-height:120%; border:1px solid #4139c3; border-radius:5px; } 
.changebox .btn_waycha:hover {transition: all 0.5s; transition: all 0.5s;-webkit-transition: all 0.5s; transition: all 0.5s; background:#4139c3}
.changebox .btn_ethcha {width:208px; height:110px; float:left; background:#068aca; font-size:25px; color:#fff; letter-spacing:-2px; font-weight:500;line-height:120%; border:1px solid #145e92; border-radius:5px; } 
.changebox .btn_ethcha:hover {transition: all 0.5s; transition: all 0.5s;-webkit-transition: all 0.5s; transition: all 0.5s; background:#145e92}

.coinQuotes {border:1px solid #c9c9c9; background:#fff; padding:20px;}
.coinQuotes .tit {margin-bottom:10px; font-size:20px; }
.coinQuotes .coincon {}


/* WAY 이용내역 */
.mywaylist {overflow:hidden;padding:30px 0 50px 0}
.mywaylist li {width:48%; height:100px; float:left; border-radius:50px; font-size:22px; text-align:center; padding-top:30px;}
.mywaylist li:nth-child(1) {border:1px solid #0587c5; margin-right:4%; color:#2988b6}
.mywaylist li:nth-child(2) {border:1px solid #f12b91; color:#f12b91}

.myconSearch {padding:15px 0; background:#f8f8f8; text-align:center; overflow:visible; vertical-align:middle}
.myconSearch .calendarBox {display:inline-block; width:200px; height:34px; border:1px solid #c8c8c8; background:#fff url(../img/ic_calendar.png) no-repeat 10px 5px; padding-left:40px; box-sizing:border-box;}
.myconSearch .calendarBox input[type=text] {width:150px;border:0; background:#fff; font-size:18px; color:#666; line-height:100% }
.myconSearch .period {display:inline-block; width:38px; height:34px; text-align:center;}
.myconSearch .period:after {content:"~"; font-size:18px; color:#666} 

.useway, .saveway {width:100px; height:100px; border-radius:50px;  font-size:24px; text-align:center; margin:0 auto; padding-top:30px;}
.useway { border:2px dotted #f12b91; color:#f12b91}
.usetxt {font-size:20px; color:#f12b91; font-weight:bold}
.saveway {border:2px dotted #0586c5; color:#2988b6}
.savetxt {font-size:20px; color:#2988b6; font-weight:bold}

/* 셀렉트박스 */
.custom-select {  display:inline-block; position: relative;border-top: 1px solid #c8c8c8; margin:0 10px; background:#fff; vertical-align:middle}
.custom-select select {  display: none; /*hide original SELECT element:*/}
.select-selected {  background-color: #fff;}
/*style the arrow inside the select element:*/
.select-selected:after {  position: absolute;  content: "";  top: 14px;  right: 10px;  width: 0;  height: 0;  border: 6px solid transparent;  border-color: #8991a2 transparent transparent transparent;}
/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {  border-color: transparent transparent #8991a2 transparent; top:8px; }
/*style the items (options), including the selected item:*/
.select-items div,.select-selected {   color: #666;  padding:5px 16px;  border: 1px solid #c8c8c8;  border-top:none; cursor: pointer; user-select: none;}
/*style items (options):*/
.select-items { position: absolute;  background-color: #fff;  top: 100%;  left: 0;  right: 0;  z-index: 99; }
/*hide the items when the select box is closed:*/
.select-hide {  display: none;}
.select-items div:hover, .same-as-selected {  background-color: rgba(0, 0, 0, 0.1);}
