@charset "utf-8";

.maintop {height:500px; background:#f5f5f8}

.main_tit {width:1250px; height:110px; margin:0 auto; padding-top:50px; overflow:hidden;}
.main_tit  .tit_txt {font-size:35px;}
.main_tit  .more_txt {width:30px; height:30px; float:right; background:#7d7c8d; font-size:25px; color:#fff; line-height:105%; text-align:center; border-radius:50%; margin-top:20px; border:0;}

/* 주간 HOT 영상 */
.als-container {	position: relative;	width: 1400px;	margin: 0px auto;}
.als-viewport {	position: relative;	overflow: hidden;	width:1250px; margin-left:75px}
.als-wrapper {	position: relative;	list-style: none; width:5000px;}
.als-prev, .als-next {	position: absolute;	cursor: pointer;	clear: both; width:75px;  position: absolute; top:120px; z-index:3; }
.als-next img {transform: rotate(180deg);}
.als-item {position: relative;	display: block; width: 386px; float:left; margin-right:45px; background:#fff; overflow:hidden; cursor: pointer; text-align:center;}
.als-item .imgbox {width:386px;height:216px; overflow:hidden;text-align:center; display:flex;justify-content:center;align-items:center; background:#333}
.als-item .imgbox img { width:100%; height: auto;}
.als-item .adultlogin {position:absolute; z-index:10; width:25px; height:25px; background: url(../img/ic_adult19.png) no-repeat;}
.als-item .adult {position:absolute; z-index:10; width:386px; height:216px; background:rgba(0,0,0,0.8) url(../img/ic_adult19b.png) 280px 135px  no-repeat;}
.als-item .playcoor {position:absolute; top:190px; right:5px;}
.als-textbox {height:110px; border-top:0; padding:20px 0 0 0; overflow:hidden;}
.als-textbox .hotnum {width:76px; float:left; text-align:center; margin-top:5px;}
.als-textbox .contxt {width:308px; float:left; text-align:left}
.als-textbox .contxt .tit {width:290px; height:38px; font-size:15px; display:-webkit-box; -webkit-line-clamp:2; /* 라인수 */    -webkit-box-orient:vertical;  white-space:normal;    line-height:1.3em;    overflow:hidden;  text-overflow:ellipsis;margin-bottom:10px; box-sizing:border-box}
.als-textbox .contxt .tit a {color:#000; }
.als-textbox .contxt .tit:hover { text-decoration:underline}
.als-textbox .contxt .way {width:50%;display:inline-block; font-size:13px; color:#7973df; font-weight:bold}
.als-textbox .contxt .date {width:40%; display:inline-block; font-size:13px; color:#959595; text-align:right; margin-right:10%;}


#lista1 .als-prev {	left: 0;}
#lista1 .als-next {	right: 0; text-align:right}



/* 추천영상 */
.main_con {width:1250px; margin:0 auto; overflow:hidden; background:#fff;}

.main_best01 {width:400px; height:250px; float:left; margin:0 10px 50px 0; position:relative; overflow:hidden; }
.main_best01 .adult {position:absolute; z-index:10; width:400px; height:250px; background:rgba(0,0,0,0.8) url(../img/ic_adult19b.png) 293px 170px  no-repeat;}
.main_best01 .adultlogin {position:absolute; z-index:10; width:25px; height:25px; background: url(../img/ic_adult19.png) no-repeat;}
.main_best01 .imgbox {width:400px; height:250px; overflow:hidden;text-align:center; display:flex;justify-content:center;align-items:center; background:#333}
.main_best01 .imgbox img {vertical-align: top;  width:100%; height: auto;}
.main_best01 .tit {width:100%; height:40px; background:rgba(0,0,0,.6); padding:10px 10px 0 10px; overflow:hidden; position:absolute; top:210px; left:0;  font-size:15px; color:#fff;text-overflow: ellipsis;white-space: nowrap}
.main_best01 .tit a {color:#fff; }
.main_best01 .tit a:hover {text-decoration:underline}
.main_best01 .tit span.date {display:inline-block; color:#a9a9a9; padding:0 5px 0 0}
.main_best01 .tit span.date:after {content:"-"; } 
.main_best01 .playcoor {position:absolute; top:185px; left:353px;}

.main_best02 {width:830px;float:right; overflow:hidden;}
.main_best02 li {width:200px; height:250px;float:left; position:relative; margin:0 10px 50px 0; border-bottom:1px solid #dfdede; overflow:hidden;}
.main_best02 li:hover {border-bottom:2px solid #7d76d9;}
.main_best02 li:last-child {margin-right:0}
.main_best02 li .adult {position:absolute; z-index:10; width:200px; height:150px; background:rgba(0,0,0,0.8) url(../img/ic_adult19b.png) 93px 70px  no-repeat;}
.main_best02 li .adultlogin {position:absolute; z-index:10; width:25px; height:25px; background: url(../img/ic_adult19.png) no-repeat;}
.main_best02 li .imgbox {width:200px; height:150px; overflow:hidden;text-align:center; display:flex;justify-content:center;align-items:center; background:#333}
.main_best02 li .imgbox img {vertical-align: top;  width:100%; height: auto;}
.main_best02 li .titbox {width:200px; height:38px; margin:15px 0; font-size:14px; color:#333;display:-webkit-box; -webkit-line-clamp:2; /* 라인수 */    -webkit-box-orient:vertical;  white-space:normal;    line-height:1.4em;    overflow:hidden;  text-overflow:ellipsis;}
.main_best02 li .titbox a {color:#333; font-weight:500}
.main_best02 li .way {width:50%;display:inline-block; font-size:13px; color:#7973df; font-weight:bold}
.main_best02 li .date {width:50%; display:inline-block; font-size:13px; color:#959595; text-align:right}
.main_best02 li .playcoor {position:absolute; top:128px; left:157px;}


.con_iconbox {position:absolute; top:0; left:0; z-index:3; width:100%; height:25px; text-align:right; }
.con_iconbox .drm {width:48px; height:20px;background:#ffd600; border-bottom-left-radius:5px; line-height:100%}
.con_iconbox .way {width:70px; height:20px; background:#7d76d9; color:#fff; margin-left:2px;line-height:100%}
.con_iconbox span { display:inline-block; ; font-size:12px; font-weight:bold; text-align:center; padding-top:3px;}
.con_iconbox span:last-child {margin-right:0}

.con_play {width:40px; height:20px; color:#fff; font-size:12px; text-align:center; background:rgba(0,0,0,0.6)}


.main_new {width:1250px; margin:0 auto; overflow:hidden;}
.main_new li {width:200px; height:250px;float:left; position:relative; margin:0 10px 50px 0; border-bottom:1px solid #dfdede; overflow:hidden;}
.main_new li:hover {border-bottom:2px solid #7d76d9;}
.main_new li:nth-child(6n+6) {margin-right:0}
.main_new li .adult {position:absolute; z-index:10; width:200px; height:150px; background:rgba(0,0,0,0.8) url(../img/ic_adult19b.png) 93px 70px  no-repeat;}
.main_new li .adultlogin {position:absolute; z-index:10; width:25px; height:25px; background: url(../img/ic_adult19.png) no-repeat;}
.main_new li .imgbox {width:200px; height:150px; overflow:hidden;text-align:center;display:flex;justify-content:center;align-items:center; background:#333}
.main_new li .imgbox img {vertical-align: top;  width:100%; height: auto;}
.main_new li .titbox {width:200px; height:38px; margin:15px 0; font-size:14px; color:#333;display:-webkit-box;    -webkit-line-clamp:3; /* 라인수 */    -webkit-box-orient:vertical;  white-space:normal;    line-height:1.4em;    overflow:hidden;    text-overflow:ellipsis;}
.main_new li .titbox a {color:#333; font-weight:500}
.main_new li .way {width:50%;display:inline-block; font-size:13px; color:#7973df; font-weight:bold}
.main_new li .date {width:50%; display:inline-block; font-size:13px; color:#959595; text-align:right}
.main_new li .playcoor {position:absolute; top:128px; left:157px;}

.linebanner {width:100%; text-align:center; overflow:hidden; margin:40px 0 20px 0}
.linebanner img {border:1px solid #000;}


