@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');
@import url("//cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css");

@media print {
	*, *:before, *:after {color: #1a1a1a !important;text-shadow: none !important;background: transparent !important;-webkit-box-shadow: none !important;box-shadow: none !important;}
}
*{padding:0; margin:0}
*:before, *:after {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}

/* public */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input { margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
html, body {min-height:100%;}
/* HTML5 display-role reset for older browsers */
article, aside, figure, figure img, figcaption, hgroup, footer, header, nav, section, video, object {display:block;}
p {position:relative}
body {font-family:'Noto Sans Korean','Malgun Gothic','맑은 고딕'; line-height:1.5;font-weight:400;letter-spacing:0;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
body.ie {font-weight:300}
ol, ul {list-style:none;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after, q:before, q:after {content:'';content:none;}
table {border-spacing:0;empty-cells:show;border-collapse:collapse;table-layout:fixed;}
caption {font-size:0;line-height:0}
input {vertical-align:middle;border:1px solid #ccc;}
input[type="button"], input[type="submit"] {-webkit-appearance:none;border-radius:0;cursor:pointer}
input[type="text"] {border-radius:0;padding:5px 10px;outline:none;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-tap-highlight-color:transparent; transition-duration:0.3s; overflow:hidden;}

input[type="text"]:focus {background: #f5f5f5;border-color:#2cc1c8;}

a {text-decoration:none;cursor:pointer}
a:hover {text-decoration:underline;}
a:active {outline:none}

strong, .bold, b {font-weight:700 !important}
label {cursor:pointer !important}

select {vertical-align:middle;border:1px solid #ccc;font-family:'Noto Sans Korean','Malgun Gothic','맑은 고딕';line-height:1.5;padding:5px}
textarea {border:1px solid #ccc;font-family:'Noto Sans Korean','Malgun Gothic','맑은 고딕';line-height:1.5;font-size:14px;resize:none}
button {outline:none; cursor: pointer;}

:after, :before {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}


